.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-success {
  background-color: #4acaa8;
}

.bg-custom1{
  background: linear-gradient(180deg, rgb(70, 73, 138) 0%, rgba(44, 44, 119,1) 61%);
}

.text-color-1{
  color: rgb(44, 44, 119);
}

.text-shadow {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.text-shadow-2 {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

.btn-close {
  float: right;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 0 #fff;
  filter: alpha(opacity=20);
}

.btn-primary {
    color: #fff;
    background-color: rgb(44, 44, 119);
    border-color: #ffffff00; /*Elegir los colores de los botones*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(89, 89, 113);
    border-color: #ffffff; /*Elegir los colores de los botones*/
}

.overlaythree {
  display: inline-block;
}
.pseudover {
  position: relative;
  display: inline-block;
}

.pseudover:after {
  content: attr(title);
  color: rgba(255, 255, 255, 0.75);
  padding: .5em 1em;
  font-family: helvetica;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .25s ease-in-out;
}
.pseudover:hover:after {
  background: rgba(151, 155, 155, 0.8);
  color: #fff;
}

.pseudover.v2:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1%;
  box-sizing: border-box;
}
.pseudover.v2:hover:before {
  content: attr(title);
  position: absolute;
  margin-top: -.5em;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  font-weight: bolder;
  z-index: 2;
  text-align: center;
  font-family: helvetica;
}

.font-custome {
  font-family: 'Kalam', cursive;
}

.font-custome1 {
  font-family: 'Signika Negative', sans-serif;
}

.font-custome2 {
  font-family: 'Bungee', cursive;
}

.font-custome3 {
  font-family: 'Bungee Shade', cursive;
}

