.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-success {
  background-color: #4acaa8;
}

.bg-custom1{
  background: linear-gradient(180deg, rgb(70, 73, 138) 0%, rgba(44, 44, 119,1) 61%);
}

.text-color-1{
  color: rgb(44, 44, 119);
}

.text-shadow {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.text-shadow-2 {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

.btn-close {
  float: right;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 0 #fff;
  filter: alpha(opacity=20);
}

.btn-primary {
    color: #fff;
    background-color: rgb(44, 44, 119);
    border-color: #ffffff00; /*Elegir los colores de los botones*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(89, 89, 113);
    border-color: #ffffff; /*Elegir los colores de los botones*/
}